.dark {
  background-color: #040815;

  color: #b2d9f6;
}

.dark nav,
.dark button,
.dark footer,
.dark .router_link_button,
.dark .menu_dropdown,
.dark .projects_project_info a {
  background-color: #0a0e24;
}

.dark svg path {
  fill: #b2d9f6;
}

.dark .menu {
  background-color: #0a0e24;
  border-color: #b2d9f6;
}

.dark .menu button {
  background-color: #040815;
}

.dark .menu_dropdown {
  background-color: #040815;
}

.dark .menu .menu_iconcontainer_moonicon {
  background-color: #b2d9f6;
}

.dark .hero {
  background-color: #000514;
}

.dark .hero a {
  background-color: #0a0e24;
}

.dark .hero a:hover,
.dark .cta button:hover,
.dark .projects a:hover,
.dark .aboutme a:hover {
  background-color: #141c48;
}

.dark .aboutme a {
  background-color: #0a0e24;
}

.dark .aboutme_attributes p {
  background-color: #0a0e24;
}

.dark .myskills h3 {
  border-bottom: solid 1px #b2d9f6;
}

.dark .cta_form input,
.dark .cta_form textarea {
  background-color: #000514;
  border-color: #b2d9f6;
  color: #b2d9f6;
}

.dark svg:hover path {
  fill: #b2b9f6;
}

@media (width > 1000px) {
  .dark .hero_intro {
    padding: 2em 4em;
    background-color: rgba(0, 5, 20, 0.3);
  }
}
