.light {
  background-color: #7faccf;
  color: #000514;
}

.light nav,
.light button,
.light footer,
.light .router_link_button,
.light .menu_dropdown,
.light .projects_project_info a {
  background-color: #a2c5e0;
}

.light nav button {
  box-shadow: none;
}

.light .menu {
  background-color: #9cb6fc;
  border-color: #000514;
}

.light .menu button {
  background-color: #a2c5e0;
}

.light .menu .menu_iconcontainer_sunicon {
  background-color: #000514;
}
/* background-color: #9fb8f9; */
.light .hero {
  background-color: #b1d8f5;
}

.light .hero a {
  background-color: #b6c8f7;
}

.light .hero a:hover {
  background-color: #8fabf3;
}

.light .cta button:hover {
  background-color: #b5d1e6;
}

.light .hero a:hover,
.light .cta button:hover {
  border-color: #000514;
}

.light .aboutme_attributes p {
  background-color: #a2c5e0;
}

.light .myskills h3 {
  border-bottom: solid 1px #000514;
}

.light .cta_form input,
.light .cta_form textarea {
  background-color: #b1d8f5;
  border: 1px solid #000514;
  color: #000514;
}

.light .projects_project_info p,
.light .projects_project_info h3 {
  color: #b2d9f6;
}

@media (width > 1000px) {
  .light .hero_intro {
    padding: 2em 4em;
    background-color: rgba(177, 216, 245, 0.3);
  }
}
