.navbar {
  min-height: 7em;
  position: relative;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_rigth_linkdiv a {
  font-size: 1.25rem;
  margin-right: 2.5em;
}

.navbar svg {
  height: 35px;
}

.navbar_logo {
  height: 2000px;
}

.navbar_right {
  display: flex;
}

.svgbutton {
  padding: 0;
  background-color: none;
  border: none;
}

.navbar_right a:hover,
.svgbutton:hover {
  opacity: 70%;
}

@media (width > 1000px) {
  .navbar {
    position: fixed;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100em;
    padding: 0 4em;
    border-radius: 4em;
  }
}
