.navbar {
  min-height: 7em;
  position: relative;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_rigth_linkdiv a {
  font-size: 1.25rem;
  margin-right: 2.5em;
}

.navbar_rigth_linkdiv {
  display: flex;
  align-items: center;
  height: 35px;
}

.navbar svg {
  height: 35px;
}

.navbar img {
  height: 50px;
}
.navbar h1 {
  font-size: 2.25rem;
}

.navbar_right {
  display: flex;
}

.svgbutton {
  padding: 0;
  background-color: none;
  border: none;
}

.navbar_right a:hover,
.svgbutton:hover {
  opacity: 70%;
}

@media (width > 1000px) {
  .navbar {
    position: fixed;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 4em;
  }
}

@media (width > 1700px) {
  .navbar {
    width: 100em;
    padding: 0 4em;
  }

  .navbar_right {
    min-height: 4em;
  }
}

@media (width < 1700px) {
  .navbar {
    width: 80em;
  }
  .navbar img {
    height: 40px;
  }
  .navbar h1 {
    font-size: 2rem;
  }
}
