.dark {
  background-color: #040815;

  color: #b2d9f6;
}

.dark nav,
.dark button,
.dark footer,
.dark .router_link_button,
.dark .menu_dropdown {
  background-color: #0a0e24;
}

.dark .menu {
  background-color: #0a0e24;
  border-top: 1px solid #b2d9f6;
}

.dark .menu button {
  background-color: #040815;
}

.dark .menu .menu_iconcontainer_moonicon {
  background-color: #b2d9f6;
}

.dark .hero {
  background-color: #000514;
}

.dark .aboutme_attributes p {
  background-color: #0a0e24;
}
