.light {
  background-color: #bdcfff;
  color: #000514;
}

.light nav,
.light button,
.light footer,
.light .router_link_button,
.light .menu_dropdown {
  background-color: #bdcfff;
}

.light .menu {
  background-color: #9cb6fc;
  border-color: #000514;
}

.light .menu button {
  background-color: #b2d9f6;
}

.light .menu .menu_iconcontainer_sunicon {
  background-color: #000514;
}
/* background-color: #9fb8f9; */
.light .hero {
  background-color: #b1d8f5;
}

.light .hero button {
  background-color: #b6c8f7;
}

.light .aboutme_attributes p {
  background-color: #9cb6fc;
}

@media (width > 1000px) {
  .light .hero_intro {
    padding: 2em 4em;
    background-color: rgba(177, 216, 245, 0.3);
  }
}
