.light {
  background-color: #bdcfff;
  color: #000514;
}

.light nav,
.light button,
.light footer,
.light .router_link_button,
.light .menu_dropdown {
  background-color: #bdcfff;
}

.light .menu {
  background-color: #9cb6fc;
  border-top: 1px solid #000514;
}

.light .menu button {
  background-color: #b2d9f6;
}

.light .menu .menu_iconcontainer_sunicon {
  background-color: #000514;
}

.light .hero {
  background-color: #9fb8f9;
}

.light .aboutme_attributes p {
  background-color: #9cb6fc;
}
