.menu {
  border-top: 1px solid;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 120px;
  right: 0px;
  flex-direction: column;
  padding: 1em 4em;
}

.menu_links {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.menu_dropdown {
  margin: 1em 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6em;
}

.menu_themebtn {
  margin-top: 1em;
  border-radius: 10em;
  padding: 0.5em 1em;
}

.menu button {
  border: none;
}

.menu_dropdown button {
  font-size: 1.5rem;
  width: 75%;
  background-color: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_dropdown svg {
  height: 14px;
  transition: rotate 0.4s;
}

.menu_iconcontainer {
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_iconcontainer_moonicon,
.menu_iconcontainer_sunicon {
  padding: 1em;
  border-radius: 50%;
}

.rotate {
  rotate: 90deg;
  transition: rotate 0.4s;
}
