.aboutme {
  padding: 8em 0 0 0;
  margin: 4em 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 2em;
}

.aboutme h2 {
  font-size: 2rem;
  letter-spacing: -1%;
}

.aboutme_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 90%;
}

.aboutme_content_attributes {
  opacity: 80%;
  width: 80%;
  display: grid;
  gap: 1em;
  text-align: center;

  grid-template:
    "one one two" 1fr
    "three three four" 1fr
    "five six six" 1fr / 1fr 1fr 1fr;
}

.aboutme_content_attributes p:nth-child(1) {
  grid-area: one;
}
.aboutme_content_attributes p:nth-child(2) {
  grid-area: two;
}
.aboutme_content_attributes p:nth-child(3) {
  grid-area: three;
}
.aboutme_content_attributes p:nth-child(4) {
  grid-area: four;
}
.aboutme_content_attributes p:nth-child(5) {
  grid-area: five;
}
.aboutme_content_attributes p:nth-child(6) {
  grid-area: six;
}

.aboutme_content_attributes p {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4em;
  padding: 1.25em;
  font-size: 1rem;
}

.aboutme_content_paragraphs {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme_content_paragraphs {
  font-size: 1rem;
  line-height: 1.5em;
}

.aboutme_content_paragraphs a {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  align-self: self-start;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.aboutme_content_paragraphs svg {
  height: 1.25em;
}

@media (width < 600px) {
  .aboutme h2 {
    font-size: 1.5rem;
  }

  .aboutme_content_attributes {
    width: 70%;
  }
  .aboutme_content_attributes p {
    font-size: 0.75rem;
  }

  .aboutme_content_paragraphs {
    width: 70%;
  }

  .aboutme_content_paragraphs {
    font-size: 0.75rem;
  }
}

@media (width > 1300px) {
  .aboutme_content {
    justify-content: center;
    flex-direction: row;
    gap: 6em;
  }
}

@media (width > 1700px) {
  .aboutme h2 {
    font-size: 2rem;
  }

  .aboutme_content_attributes {
    width: 40%;
  }
  .aboutme_content_attributes p {
    font-size: 1rem;
  }

  .aboutme_content_paragraphs {
    width: 40%;
  }

  .aboutme_content_paragraphs {
    font-size: 0.9rem;
  }
}

@media (width < 1700px) {
  .aboutme h2 {
    font-size: 1.5rem;
  }

  .aboutme_content_attributes {
    width: 40%;
  }
  .aboutme_content_attributes p {
    font-size: 0.9rem;
  }

  .aboutme_content_paragraphs {
    width: 40%;
  }

  .aboutme_content_paragraphs {
    font-size: 0.8rem;
  }

  .aboutme a {
    font-size: 1.25rem;
  }
}
