.cta {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: auto;
  padding-top: 8em;
  text-align: left;
  gap: 2em;
}

.cta h2,
.cta p,
.cta_form {
  width: 100%;
  margin: 0;
}

.cta h2 {
  font-size: 1.5rem;
}

.cta p {
  font-size: 1rem;
}

.cta span {
  font-weight: 700;
  font-size: 1.1em;
}

.cta_button {
  width: 100%;
}

.cta button {
  font-size: 1.25rem;
  border: none;
  width: 50%;
  padding: 1em;
  margin-bottom: 4em;
  border-radius: 0.2em;
}

.cta_form {
  display: flex;
  flex-direction: column;
}

.cta_form input,
.cta_form textarea {
  border: 1px solid;
  margin: 1em 0;
  outline: none;
  padding: 1em;
  font-size: 1rem;
}

.cta_form textarea {
  height: 10em;
  margin-bottom: 1em;
}

.cta_form button {
  margin-top: 1em;
}

@media (width > 1300px) {
  .cta {
    width: 40%;
    padding: 14em 0;
  }

  .cta button {
    margin-bottom: 2em;
  }
}

@media (width > 1700px) {
  .cta h2 {
    font-size: 2rem;
  }

  .cta p {
    font-size: 1rem;
  }
}

@media (width < 1700px) {
  .cta {
    width: 66%;
    padding: 6em;
  }
  .cta h2 {
    font-size: 1.5rem;
  }

  .cta p {
    font-size: 1rem;
  }

  .cta_form input,
  .cta_form textarea {
    margin: 1em 0;
    padding: 1em;
    font-size: 0.75rem;
  }

  .cta_form textarea {
    height: 8em;
    margin-bottom: 0.5em;
  }
}

@media (width < 1100px) {
  .cta {
    width: 75%;
  }
}
