.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  text-align: left;
  align-items: center;
}

.hero_intro {
  margin: 0;
  width: 66%;
}

.hero h1 {
  margin: 0;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.1em;
  letter-spacing: -2%;
}

.hero p {
  margin: 1.5em 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5em;
}

.hero_buttons {
  display: flex;
  gap: 1em;
}

.hero a {
  font-size: 1.25rem;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}

@media (width < 600px) {
  .hero_intro {
    width: 70%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 0.85rem;
  }

  .hero a {
    font-size: 1rem;
  }
}

.hero_animation {
  width: 100%;
  height: 100%;
}

@media (width > 1000px) {
  .hero {
    position: relative;
    z-index: 0;
  }

  .hero_intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero h1 {
    font-size: 5rem;
  }
  .hero p {
    font-size: 1.25rem;
  }
  .hero a {
    font-size: 1.5rem;
  }
}
