.projects {
  width: 80%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
}

.projects:has(.projects_pc) {
  width: 90%;
}

.projects h2 {
  font-size: 2rem;
  margin: 0;
}

.projects button,
.projects a {
  text-align: center;
  font-size: 1.25rem;
  border: none;
  padding: 0.5em 1.5em;
}

.projects_project {
  border-radius: 2em;
  margin: 1em auto;
  background-blend-mode: multiply;
  background-position: center;
  background-size: 101% 101%;
  height: 350px;
}

.projects_project_info {
  padding: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.projects_project p,
h3 {
  margin: 0;
}

.projects_project p {
  font-size: 1rem;
  width: 75%;
}

.projects_project h3 {
  font-size: 1.5rem;
}

.projects_project button {
  border-radius: 0.2em;
}

.projects_pc {
  width: 100%;
  display: grid;
  grid-template: repeat(2, 45%) / repeat(3, 32%);
  gap: 4em 2em;
  justify-content: center;
  margin: 0;
}

.projects_pc .projects_project {
  margin: 0;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.projects_pc .projects_project_info {
  padding: 2em;
  height: 100%;
  justify-content: space-between;
  visibility: hidden;
}

.projects_pc .projects_project:hover {
  visibility: visible;
  background-color: #202020;
  border: 1px double #202020;
  background-blend-mode: multiply;
}

.projects_pc .projects_project:hover .projects_project_info {
  visibility: visible;
}

@media (width > 1300px) {
  .projects_morebtn {
    margin: 0 auto;
    width: 50%;
  }
}

@media (width < 1700px) {
  .projects:has(.projects_pc) {
    width: 80%;
  }

  .projects_pc {
    gap: 2em 1em;
  }
  .projects_morebtn {
    width: 30%;
  }

  .projects_pc .projects_project {
    height: 350px;
  }

  .projects_project p {
    font-size: 0.8rem;
    width: 85%;
  }
  .projects_project_info {
    gap: 2em;
  }
}

@media (width < 1500px) {
  .projects_pc {
    gap: 1.75em 0.5em;
  }

  .projects_pc .projects_project {
    height: 350px;
  }

  .projects_project p {
    font-size: 0.75rem;
    width: 90%;
  }
  .projects_project_info {
    gap: 1em;
  }
}

@media (width < 1300px) {
  .projects_project {
    visibility: visible;
    background-color: #202020;
    border: 1px double #202020;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35em;
  }

  .projects_project_info h3 {
    font-size: 1.75rem;
  }
  .projects_project_info p {
    width: 75%;
    font-size: 1rem;
    margin: 2em 0;
  }
  .projects_project_info a {
    font-size: 1.5rem;
  }

  .projects .projects_morebtn {
    margin: 0 auto;
    font-size: 1.75rem;
  }
}

@media (width < 1300px) {
  .projects {
    width: 70%;
  }

  .projects_project {
    visibility: visible;
    background-color: #202020;
    border: 1px double #202020;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25em;
  }

  .projects_project_info h3 {
    font-size: 1.75rem;
  }
  .projects_project_info p {
    width: 75%;
    font-size: 1rem;
    margin: 2em 0;
  }
  .projects_project_info a {
    font-size: 1.5rem;
  }
}

@media (width < 1100px) {
  .projects .projects_morebtn {
    font-size: 1.5rem;
  }
}
